ccc@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;


    }

    /* custom scroll bar */
    ::-webkit-scrollbar {
      width: 10px;
    }

    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    ::-webkit-scrollbar-thumb {
      background: #888;
    }

    ::selection {
      background: rgb(0, 123, 255, 0.3);
    }

    .content {
      max-width: 1250px;
      margin: auto;
      padding: 0 30px;
    }

    .navbar {
      position: fixed;
      width: 100%;
      z-index: 2;
      padding: 25px 0;
      transition: all 0.3s ease;


    }

    .navbar.sticky {
      background: #1b1b1b;
      opacity:0.7;
      padding: 10px 0;
    /*box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);*/
      transition:0.6s ease;
    }

    .navbar .content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .navbar .logo a {
      color: #fff;
      font-size: 30px;
      font-weight: 600;
      text-decoration: none;
    }

    .navbar .menu-list {
      display: inline-flex;
      margin-top:10px ;
    }

    .menu-list li {
      list-style: none;
    }

    .menu-list li a {
      color: #fff;
      font-size: 18px;
      font-weight: 500;
      margin-left: 25px;
      text-decoration: none;
      transition: all 0.3s ease;
      
    }

    .menu-list li a:hover {
      color: #007bff;
      transition: 0.6s ease;
    }


    .icon {
      color: #fff;
      font-size: 20px;
      cursor: pointer;
      display: none;
    }



    .background {
      background-image: url("background.jpg");
      height: 720px;
      background-position: center;
      background-size: cover;
      border-bottom-right-radius: 150px;
      display: flex;
      

    }

    .banner_cont {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-size: 70px;
      color: white;
      
      

    }

    .section_2 {
      height: 350px;


    }


    .sec2_title {
      display: flex;
      justify-content: center;
      font-size: 40px;
      position: relative;
      top: 50px;
      font-weight: bold;
    }

    .sec2_papr {
      text-align: center;
      font-size: 25px;
    }

    .demotry {
      height: 400px;
      background-color: #222;
    }

    .section_3 {
      height: 620px;
      background-image: url("section3.jpg");
      background-position: center;
      background-size: cover;
      background-attachment: fixed;



    }

    .service {
      height: 400px;

      border: 1px solid white;
      position: relative;
      top: 50px;
      background: rgba(235, 240, 236, 0.2);

    }

    .service_title {
      color: black;
      font-size: 50px;
      text-align: center;
    }

    .icon_section {
      height: 100px;
      width: 100px;
      border: 1px solid white;
      border-radius: 150px;
      position: relative;
      top: 20px;
      background-color: white;
    }

    .try {
      font-size: 35px;
      position: relative;
      top: 30px;

    }

    .para {
      font-size: 23px;
      color: rgb(17, 51, 4);
      position: relative;
      top: 50px;
    }

    .ttry {
      font-size: 35px;
      position: relative;
      left: -40px;
      top: 10px;
    }
    .login_img{
      height:80px;
      
    }
    .login_title{
      color:black;
      font-weight: bold;
    }
    .user_input{
      width:100%;
      border: none;
      outline: none;
      background: none;
      color:black;
      border-radius: 0px;
      font-weight: bolder;
      box-shadow: 0 5px 6px -6px black;
      
    }
    .user_input:focus{
      color:black;
      background: white;
      box-shadow: 0 5px 6px -6px black;
    }
    .password_input{
      margin-top: 20px;
      border: none;
      outline: none;
      background: none;
      color:black;
      border-radius: 0px;
      font-weight: bolder;
      box-shadow: 0 5px 6px -6px black;
    }
    .password_input:focus{

      color:black;
      background: white;
      box-shadow: 0 5px 6px -6px black;
    }
    
    .login_btn{
      margin-top: 20px;
      border-radius: 50px;
      font-weight: bolder;
      box-shadow: 0 5px 6px -6px black;
      transition: 0.6s ease;  
      width:50%;
      color:black;
  }
  .parent_login_btn{
    background-color:#85603f;
    font-size: 15px;
    position:relative;
    top:-5px;
    
  }
    hr {width: 20%;
      border-style:solid; 
      border-width: 2px;
      margin-left: auto;
      margin-right: auto;
      
    }
    /*Footer*/
    
    .footer {
      height: 100px;
      background-color: black;
   display:flex;
   align-items: center;
    }

.footer_right{
  display: flex;
  justify-content:flex-end;
  }
.social_icon{
  height:35px;
  width:35px;
 }
.footer_left{
  display: flex;
  justify-content:flex-start;

}
.footer_para{
  color:white;
  font-size: 18px;
  
}
    /* contact us page*/
    .contact_banner{
        height:500px;
        background-image: url("new wheat-field-3518572_1920.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-bottom-right-radius: 150px;
        
    }
    
    .contact_title{
        display: flex;
        justify-content: center;
        font-size: 70px;
        color:white;
        position: relative;
        top:200px;
    }
    .con_sec2title{
      text-align: center;
      font-size: 40px;
      position: relative;
      top:40px;
    }
    .input_field1{
      height:50px;
      position: relative;
      top:20px;
      
      border: none;
      outline: none;
      background: none;
      color:black;
  border-radius: 0px;
  font-weight: bolder;
  box-shadow: 0 5px 6px -6px black;
    }

    .input_field2{
      height:50px;
      position: relative;
      top:20px;
      
      border: none;
      outline: none;
      background: none;
      color:black;
  border-radius: 0px;
  font-weight: bolder;
  box-shadow: 0 5px 6px -6px black;
    }

    .input_field3{
      position: relative;
      top:20px;
      
      border: none;
      outline: none;
      background: none;
      color:black;
  border-radius: 0px;
  font-weight: bolder;
  box-shadow: 0 5px 6px -6px black;
      
    }
    .submit_btn{
      border: none;
      outline: none;
      
      color:black;
  border-radius: 50px;
  font-weight: bolder;
  box-shadow: 0 5px 6px -6px black;
  transition: 0.6s ease;    
}

      /*About us*/

    .aboutus_background{
      height:500px;
      background-image: url('new spice-370114_1920 (1) copy.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
    }  
.about_title{
  color:white;
  text-align: center;
  font-size: 70px;
}
.title_para{
  color:white;
  font-size: 17px;
  text-align: center;
  
}
.m_v{
  color:black;
  text-align: center;
  font-size: 45px;
  font-weight:lighter;
}
.m_v_para{
  color:gray;
  text-align: center;
  font-size: 20px;
 }


 

















    @media (max-width: 1230px) {
      .content {
        padding: 0 60px;
      }
    }

    @media (max-width: 1100px) {
      .content {
        padding: 0 40px;
      }
    }

    @media (max-width: 995px) {
      .section_3 {
        height: 1850px;
        background-attachment: unset;
      }

    }
    




    @media (max-width: 900px) {
      .content {
        padding: 0 30px;
      }

    }

    @media (max-width: 868px) {
      body.disabled {
        overflow: hidden;
      }

      .icon {
        display: block;
      }

      .icon.hide {
        display: none;

      }
      

      .navbar .menu-list {
        position: fixed;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        left: -100%;
        top: 0px;
        display: block;
        padding: 40px 0;
        text-align: center;
        background: #222;
        transition: all 0.3s ease;
      }

      .navbar.show .menu-list {
        left: 0%;
      }

      .navbar .menu-list li {
        margin-top: 45px;
      }

      .navbar .menu-list li a {
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }

      .navbar.show .menu-list li a {
        margin-left: 0px;
      }
    }

    @media (max-width: 546px) {
      .banner_cont {
        font-size: 50px;
      }

      .background {
        height: 420px;
        border-bottom-right-radius: 0px;
        transform: unset;
      }

      .section_2 {
        height: 300px;
      }
      .sec2_title{
        font-size: 30px;
        top:30px;
      }
      .sec2_papr{
        font-size:21px;
      }
      /* contact us */
      .contact_banner{
        border-bottom-right-radius: 0px;
      }
      .con_sec2title{
        font-size: 32px;
      }
      /*Footer*/
      .footer{
        height:120px;
        
        }
        .footer_right{
          display: flex;
          justify-content:center;
        }
        .footer_left{
          display: flex;
          justify-content:center;
        
        }


    }

    @media (max-width: 380px) {
      .navbar .logo a {
        font-size: 27px;
      }

      .banner_cont {
        font-size: 40px;
        top: 0px;
        justify-content: center;
        align-items: center;

      }

      .background {
        height: 420px;
        border-bottom-right-radius: 0px;
        transform: unset;
      }

      .sec2_title {
        font-size: 30px;
        top: 30px;
      }

      .sec2_papr {
        font-size: 20px;
      }
      
      /*contact us*/
      .contact_title{
          font-size:50px;
      }
      
      .contact_banner{
        border-bottom-right-radius: 0px;
      }
      .con_sec2title{
        font-size: 30px;
      }
      /*Footer*/
      .footer{
      height:120px;
      }
      .footer_right{
        display: flex;
        justify-content:center;
      }
      .footer_left{
        display: flex;
        justify-content:center;
      
      }

    }
